.fullBg {
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    position: absolute;
    left: 15%;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li {
    cursor: pointer;
}

.panel {
    position: absolute;
    right: 10%;
    top: 40%;
    z-index: 50;
    width: 60%;
    min-width: 350px;
    max-width: 700px;
    min-height: 305px;
    padding: 35px;
    background: #ffffff;
    opacity: 0.8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

